#!/usr/bin/env bash
if [ ! -f ./.local/bin/task ]; then
    mkdir -p ./.local/bin
    sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ./.local/bin
fi

# if 
#     PATH="./.local/bin:${PATH}"
