*.retry
*.out
*.html
*_custom.yaml
*_custom.yml
*/.cache*
.cache*
.local
./venv
.vscode
./workspace
.venv
.SECRET
./data
./.local
./state
./secure
./private
*id_rsa
workspaces/default/*/
venv
venv/
.metagit/
.venv/
book/

*.iso
*.log
*.png
*.tgz
*kubeconfig.yaml
kubeconfig
Chart.lock
.SECRET
./.secret/
bootstrap